* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 247, 201);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
  /* margin: 75px; */
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

h2 {
  color: blueviolet;
  margin-bottom: 15px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: red;
}

.second {
  color: red;
}

#your-name {
  background-color: rgb(255, 220, 105);
  border: 5px solid #444;
  width: 400px;
  margin-top: 25px;
  padding: 25px;
}

input,
button {
  padding: 10px;
  font-size: 15px;
}

a {
  background-color: greenyellow;
}

#course-image {
  width: 350px;
}

#your-name h2 {
  background-color: greenyellow;
}
